<h1>Tarea actualizada</h1>
<p>La tarea "<%= @task.title %>" se ha actualizado correctamente.</p>
<%= link_to 'Ver tarea', task_path(@task) %> |
<%= link_to 'Volver a la lista de tareas', tasks_path %>